<%= render "shared/second-header"%>

<div class= 'registration-main'>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      カード情報
    </h1>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">カード番号</label>
    </div>
    <%= "**** **** ****" + @card[:last4] %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">有効期限</label>
    </div>
    <%= @card[:exp_year]%><%= "年" %><%= @card[:exp_month]%><%= "月" %>
  </div>
  <div class="edit-menu">
  <div class="menu"><%= link_to '■登録情報変更', new_card_path %></div>
  </div>
</div>
</div>

<%= render "shared/second-footer"%>